[package]
name = "libcryptsetup-rs"
version = "0.3.0"
authors = ["John Baublitz <jbaublitz@redhat.com>"]
edition = "2018"
description = "High level Rust bindings for libcryptsetup"
license = "MPL-2.0"
documentation = "https://docs.rs/libcryptsetup-rs"
homepage = "https://stratis-storage.github.io/"
repository = "https://github.com/stratis-storage/libcryptsetup-rs"
build = "build.rs"

[dependencies.libcryptsetup-rs-sys]
version = "0.1.1"
path = "./libcryptsetup-rs-sys"

[dependencies]
either = "1.5"
libc = "0.2.60"
serde_json = "1.0"

[dependencies.uuid]
version = "0.7.4"
features = ["v4"]

[build-dependencies]
pkg-config = "0.3"
semver = "0.9"

[dev-dependencies]
base64 = "0.10"
loopdev = "0.2"
nix = "0.15"
rand = "0.7"
keyutils = "0.2.1"
