[package]
name = "libcryptsetup-rs"
version = "0.4.4"
authors = ["John Baublitz <jbaublitz@redhat.com>"]
edition = "2018"
description = "High level Rust bindings for libcryptsetup"
license = "MPL-2.0"
documentation = "https://docs.rs/libcryptsetup-rs"
homepage = "https://stratis-storage.github.io/"
repository = "https://github.com/stratis-storage/libcryptsetup-rs"
build = "build.rs"
exclude = [".gitignore", ".github/*"]

[dependencies.libcryptsetup-rs-sys]
version = "0.1.5"
path = "./libcryptsetup-rs-sys"

[dependencies]
either = "1.5"
libc = "0.2.82"
serde_json = "1.0"

[dependencies.uuid]
version = "0.8"
features = ["v4"]

[dependencies.lazy_static]
version = "1"
optional = true

[dependencies.log]
version = "0.4.8"
optional = true

[build-dependencies]
pkg-config = "0.3.7"
semver = "0.11"

[dev-dependencies]
base64 = "0.13"
loopdev = "0.2"
nix = "0.20"
rand = "0.8"

[features]
mutex = ["lazy_static", "log"]
