---
name: libcryptsetup CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # MANDATORY CHECKS USING CURRENT DEVELOPMENT TOOLCHAIN:
  format:
    env:
      TASK: fmt-travis
      TOOLCHAIN: 1.49.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
      - name: Test format on ${{ env.TOOLCHAIN }} toolchain
        run: make -f Makefile $TASK
  lint:
    env:
      TASK: clippy
      TOOLCHAIN: 1.49.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: clippy
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
      - name: Install dependencies
        run: >
          sudo
          add-apt-repository
          "deb http://us.archive.ubuntu.com/ubuntu/ focal main"
      - name: Install dependencies
        run: >
          sudo apt-get install libcryptsetup-dev
      - name: Test linting on ${{ env.TOOLCHAIN }} toolchain
        run: make -f Makefile $TASK

  # MANDATORY TESTING ON STABLE
  stable:
    env:
      TOOLCHAIN: stable
    strategy:
      matrix:
        include:
          - task: make -f Makefile build
            dependencies: libcryptsetup-dev
          - task: make -f Makefile docs-travis
            dependencies: libcryptsetup-dev
          - task: make -f Makefile test
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: make -f Makefile test-mutex
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: >
              sudo
              TEST_DIR=$GITHUB_WORKSPACE
              PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile test-loopback
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: >
              sudo
              TEST_DIR=$GITHUB_WORKSPACE
              PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile test-loopback-mutex
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: make -f Makefile release
            dependencies: libcryptsetup-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
      - name: Install dependencies
        run: >
          sudo
          add-apt-repository
          "deb http://us.archive.ubuntu.com/ubuntu/ focal main"
      - name: Install dependencies
        run: >
          sudo apt-get install ${{ matrix.dependencies }}
      - name: Test build on ${{ env.TOOLCHAIN }} toolchain
        run: ${{ matrix.task }}

  # MANDATORY TESTING USING LOWEST SUPPORTED TOOLCHAIN
  lowest_supported:
    env:
      TOOLCHAIN: 1.47.0
    strategy:
      matrix:
        include:
          - task: make -f Makefile test
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: make -f Makefile test-mutex
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: >
              sudo
              TEST_DIR=$GITHUB_WORKSPACE
              PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile test-loopback
            dependencies: libcryptsetup-dev libkeyutils-dev
          - task: >
              sudo
              TEST_DIR=$GITHUB_WORKSPACE
              PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile test-loopback-mutex
            dependencies: libcryptsetup-dev libkeyutils-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
      - name: Install dependencies
        run: >
          sudo
          add-apt-repository
          "deb http://us.archive.ubuntu.com/ubuntu/ focal main"
      - name: Install dependencies
        run: >
          sudo apt-get install ${{ matrix.dependencies }}
      - name: Test build on ${{ env.TOOLCHAIN }} toolchain
        run: ${{ matrix.task }}

  # ALLOWED FAILURES
  # Allowed because a failure may occur after a new Rust stable
  # version is released.
  allowed_failures:
    continue-on-error: true
    env:
      TASK: clippy
      TOOLCHAIN: stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: clippy
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
      - name: Install dependencies
        run: >
          sudo
          add-apt-repository
          "deb http://us.archive.ubuntu.com/ubuntu/ focal main"
      - name: Install dependencies
        run: sudo apt-get install libcryptsetup-dev
      - name: Test linting on ${{ env.TOOLCHAIN }} toolchain
        run: make -f Makefile $TASK

  # VERIFICATION OF TEST INFRASTRUCTURE
  yamllint:
    env:
      TASK: yamllint
      PYTHON: 3.8.6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON }}
      - name: Install dependencies
        run: pip3 install yamllint==1.25.0
      - name: Run yamllint
        run: make -f Makefile $TASK
