---
name: libcryptsetup nightly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 10 3 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-22.04
    steps:
      - name: Install git
        run: sudo apt-get install git
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.87.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Install dependencies
        run: sudo apt-get install libcryptsetup-dev
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-audit
      - name: Run audit check
        run: make audit

  checks-with-ci-repo:
    runs-on: ubuntu-22.04
    container:
      image: fedora:41  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - name: Install git
        run: dnf install -y git
      - uses: actions/checkout@v4
        with:
          path: libcryptsetup-rs
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          cryptsetup-devel
          curl
          make
          openssl-devel
          python-requests
          python-semantic_version
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.87.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Check out ci repo
        uses: actions/checkout@v4
        with:
          path: ci
          repository: stratis-storage/ci
      - name: Run comparisons of version specs with -sys package
        # yamllint disable rule:line-length
        run: |
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=rawhide make -f ../Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f43 make -f ../Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f42 make -f ../Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f41 make -f ../Makefile check-fedora-versions
        working-directory: libcryptsetup-rs/libcryptsetup-rs-sys
      - name: Run comparisons of version specs with package
        # yamllint disable rule:line-length
        run: |
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=rawhide make -f Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f43 make -f Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f42 make -f Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f41 make -f Makefile check-fedora-versions
        working-directory: libcryptsetup-rs

  semver-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libcryptsetup-dev
      - name: Do semantic version checks on libcryptsetup-rs-sys
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          verbose: true
          rust-toolchain: 1.87.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
          manifest-path: libcryptsetup-rs-sys
      - name: Do semantic version checks
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          verbose: true
          rust-toolchain: 1.87.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
